@model IEnumerable<Revalb.Models.Recenzija>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idRecenzent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zvjezdice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumObjave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idRecenzent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zvjezdice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumObjave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idRecenzija">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idRecenzija">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idRecenzija">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
